@use "./../../styles/variables.scss" as *;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin: 10px;
    font-size: 18px;
    color: $text-color;

    &.disabled {
      cursor: not-allowed;
       color: $text-color-2;
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: $bg-color-1;
    }
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
    cursor: default;
  }
}
