.card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 5px 5px 0px rgba(204, 204, 204, 0.72);
    z-index: -1;
    transition: all 0.52s ease-in-out;
  }

  &:hover {
    .card__meta {
      transform: translateY(5px);
    }

    .card__intro {
      transform: translateY(-5px);
    }

    &::after {
      transform: translateY(5px);
    }
  }

  &__intro {
    position: relative;
    min-height: 300px;
    height: 100%;
    width: 100%;
    background: transparent url("../../assets/img/gallery/Ph-5.webp") top center
      no-repeat;
    background-size: 100%;
    overflow: hidden;
    transition: all 0.72s ease-in-out;

    &::after {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      height: 500px;
      right: -100%;
      left: 0;
      transform: skew(100deg);
      background: #fff;
      bottom: -70%;
      box-shadow: inset 1px 0px 5px 0px rgba(204, 204, 204, 0.72);
    }
  }

  &__meta {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-top: 110px;
    overflow: hidden;
    transition: all 0.52s ease-in-out;

    &::after {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 80px;
      max-width: 300px;
      height: 300px;
      background: #fff;
      border: 1px solid #ccc;
      transform: rotate(90deg) skew(10deg);
      z-index: 4;
    }

    &-inner {
      padding: 0.25rem 1rem;
      line-height: 1.5rem;
      position: relative;
      background: #fff;
      z-index: 15;
      border: 1px solid #ccc;
      border-top: none;

      .card__title {
        font-family: sans-serif;
        font-weight: 300;
        border-left: 4px solid #e91e63;
        padding-left: 0.72rem;
        position: relative;
        margin: 0;
      }

      .card__text {
        font-family: serif;
        font-size: 0.85rem;
        color: #555;
        text-align: justify;
        margin: 0.5rem 0;

        .card__link {
          color: #e91e63;
          text-decoration: none;
          opacity: 0.72;
          transition: all 0.27s ease-in-out;

          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
