.container {
  .sector1 {
    background-image: url("../../assets/img/bg1.webp");
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-color: rgba(62, 138, 108, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 64px;
        color: white;
        margin-bottom: 20px;
      }
      &__description {
        font-size: 32px;
        text-align: center;
        color: white;
      }
    }
  }

  .section {
    background: white;
    padding: 20px 0;
    &__container {

      padding: 0 40px;
      margin: auto;
      width: 100%;
      max-width: 1280px;

      &--title {
        text-align: center;
        text-transform: uppercase;
        color: #323232;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 400;
        padding-top: 70px;

        &::after {
          content: "";
          width: 40px;
          height: 1px;
          display: block;
          background: #999;
          margin: 10px auto;
        }
      }
    }
  }
}
