@use './../../styles/variables.scss' as *;

.container {
  background: white;
  .section {
    background: white;
    padding: 20px 0;
    &__container {

      padding: 0 40px;
      margin: auto;
      width: 100%;
      max-width: 1280px;

      &--title {
        text-align: center;
        text-transform: uppercase;
        color: $text-color;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 400;
        padding-top: 70px;

        &::after {
          content: "";
          width: 40px;
          height: 1px;
          display: block;
          background: #999;
          margin: 10px auto;
        }
      }
    }
  }
}
