@use "./../../styles/variables.scss" as *;
.list-container {
  &__item {
    color: $text-color-2;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--icon {
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
      display: inline-block;
      transform: translateY(7px);

      &.success {
        color: #4ec54e;
      }

      &.info {
        color: #39a2ff;
      }

      &.warning {
        color: #efa00b;
      }

      &.error {
        color: #e52c2c;
      }
    }

    &--text {
      display: inline;

      &.dark {
        color: white;
      }
    }
  }
}
