.container {
  min-height: 450px;

  .calendar-container {
    height: 400px;
  }
  .description-container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #69b1ff;
      &:hover {
        color: #0958d9;
      }
    }
  }
}
