
$primary-bg-color:rgba(5, 5, 5, 0.06);
$success-bg-color: #f6ffed;
$warning-bg-color: #fffbe6;
$error-bg-color: #fff2f0;

$succes-border-color: #b7eb8f;
$warning-border-color: #ffe58f;
$error-border-color: #ffccc7;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}